/* 响应式设计 */
@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
        padding: 10px 25px 10px 25px;
    }

    .main-content>* {
        width: 100%;
        margin: 10px 0;
    }

    .site-navigation a {
        font-size: 17px;
    }

    .site-navigation li {
        margin: 0 5px;
    }

    .post-title {
        font-size: 20px;
    }

    .post-intro {
        font-size: 14.5px;
    }

    .cover-image {
        height: 120px;
    }

    .cover-image .image-text h1 {
        font-size: 3.3em;
        margin-bottom: -10px;
    }

    .cover-image .image-text p {
        font-size: 11px;
    }

    .site-title {
        display: none;
    }

    .flower {
        display: none;
    }

    .scroll-button {
        display: none;
    }

    .top-image {
        display: none;
    }
}

@font-face {
    font-family: "myfont";
    src: url(../fonts/Facon-2.ttf);
}