.paper-footer-other ul {
    width: 243px;
    height: 27px;
    border: none;
    border-radius: 4px;
    background-color: rgb(33, 33, 33);
    margin: 80px auto;
}

.paper-footer-other ul li:nth-child(6) {
    background-color: rgb(55, 55, 55);
    border: none;
    border-radius: 4px 0 0 4px;
}