.heart main {
    height: 2350px;
}

.main-box .main-header h2 {
    margin-top: 10px;
}

.aside-other-right {
    float: left;
    background-color: rgb(255, 0, 0);
    background-color: rgb(33, 33, 33);
    height: 2640px;
    width: 22.5%;
}

.main-paper .paper-article:nth-of-type(1) .paper-img {
    background: url(../images/blog.png);
    background-size: 900px;
}

.main-paper .paper-article:nth-of-type(2) .paper-img {
    background: url(../images/hello-gridea.png) -20px -100px;
    background-size: 900px;
}

.main-paper .paper-article:nth-of-type(3) .paper-img {
    background: url(../images/yuan.png);
    background-size: 900px;
}

.footer-other {
    position: absolute;
    background-color: rgb(37, 37, 37);
    top: 2640px;
    left: 386px;
    height: 54px;
    width: 69.8%;
    font-size: 10px;
    color: rgb(119, 119, 119);
    line-height: 52px;
    border-right: 2px solid rgb(21, 21, 21);
}

.footer-other p {
    float: left;
    margin-left: 30px;
}

.footer-other li {
    margin-left: 10px;
    float: left;
    list-style: none;
}

.footer-other li a {
    text-decoration: none;
    color: rgb(119, 119, 119);
    background-color: rgb(255, 166, 0);
}

.footer-other li a:first-child:before {
    background-color: gray;
    margin-right: 3px;
    color: black;
    content: '粤ICP备';
}

.footer-other .footer-last a:first-child::before {
    content: '粤公安网备';
}

.footer-other .footer-lastone {
    float: right;
    margin-right: 20px;
    font-size: 13px;
}