footer {
    position: absolute;
    background-color: rgb(37, 37, 37);
    top: 3000px;
    left: 392px;
    height: 52px;
    width: 70%;
    font-size: 10px;
    color: rgb(119, 119, 119);
    line-height: 52px;
}

footer p {
    float: left;
    margin-left: 30px;
}

footer li {
    margin-left: 10px;
    float: left;
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: rgb(119, 119, 119);
    background-color: rgb(255, 166, 0);
}

footer li a:first-child:before {
    background-color: gray;
    margin-right: 3px;
    color: black;
    content: '粤ICP备';
}

.footer-last a:first-child::before {
    content: '粤公安网备';
}

.footer-lastone {
    float: right;
    margin-right: 20px;
    font-size: 13px;
}
