/* style.css */

/* 基本重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #1a1a1a;
}

/* 确保 .author-info 不会设置宽度限制或延展 */
.author-info {
    display: flex;
    align-items: center;
    width: 100%;
    /* 根据需要来调整这个宽度设置 */
}

/* 头像类，不需要设置 flex: 1; */
.author-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.author-description {
    flex: 1;
    /* 确保除了头像外，其他空间都是描述的内容空间 */
}

/* 添加一个类到包裹 <p> 和 <ul> 的 .about-author，以便更精确地控制宽度 */
.about-author {
    width: 100%;
    /* 确保它占满其父容器 */
    padding: 10px;
    /* 添加或去除内边距根据设计需求 */
    box-sizing: border-box;
}

/* 确保 .social-links 不会扩展流外设置宽度 */
.social-links {
    padding: 0;
    list-style-type: none;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links a {
    color: #007bff;
    /* 适当的链接颜色 */
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

/* 头部样式 */
.site-header {
    background-color: #1a1a1a;
    border-bottom: 0.1em solid #666;
    padding: 0px 0px 20px 0px;
    color: transparent;
    text-align: center;
}


.site-title {
    font-size: 4em;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #eff964, #0d40d9);
    transition-duration: 1s;
    /* 增加动画时长到20s */
}

.site-navigation {
    margin-top: 0px;
}

.site-navigation ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.site-navigation li {
    margin: 0 10px;
}

.site-navigation a {
    color: #dbdbdb;
    text-decoration: none;
    font-weight: bold;
}

/* 主内容区域 */
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 100px 40px 100px;
}

.article-list {
    flex: 1;
    min-width: 300px;
    /* 可以根据实际调整 */
    margin: 0 20px;
}

.blog-post {
    background-color: #3dae7b;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

/* 移除最后一个 .blog-post 的 margin-bottom */
.article-list .blog-post:last-child {
    margin-bottom: 0;
}

.post-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post-intro {
    margin-bottom: 20px;
}

.read-more {
    display: inline-block;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #333;
    color: #fff;
}

/* 侧边栏样式 */
/* 侧边栏区域样式 */
.sidebar {
    padding: 20px;
    background-color: rgb(36, 36, 36);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    width: 250px;
    /* 确保侧边栏至少与视口高度相同 */
}

/* 区隔两段最新文章和关于作者区域 */
.sidebar section {
    margin-bottom: 20px;
    /* 两段之间的距离 */
    padding-bottom: 10px;
    /* 底部内边距 */
    border-bottom: 1px solid #363636;
    /* 可为间隔视觉提供线索的底边框 */
}

/* 最新文章标题样式 */
.latest-posts .post-title {
    margin: 0;
    /* 移除外部间距 */
    padding-top: 10px;
    /* 与小节标题的距离 */
    font-size: 16px;
    /* 文章标题字体大小 */
}

.latest-posts .post-title:first-child {
    padding-top: 0;
    /* 第一篇文章不添加上边距 */
}

.latest-posts a {
    text-decoration: none;
    /* 移除下划线 */
    color: rgb(157, 189, 29);
    /* 文字颜色 */
    display: block;
    /* 以块级元素显示，使整个区域可点击 */
    margin-bottom: 10px;
    /* 文章标题间的间隔 */
}

.latest-posts a:hover {
    text-decoration: underline;
    /* 鼠标悬浮时添加下划线 */
}

/* 关于作者小节样式 */
.about-author {
    font-size: 14px;
    /* 字体大小 */
}

.about-author h3,
.about-author p {
    margin-bottom: 10px;
    /* 段落间的间距 */
}

/* 社交链接样式 */
.social-links {
    padding: 0;
    /* 移除默认的内边距 */
    list-style-type: none;
    /* 移除列表默认的标记 */
}

.social-links li {
    display: inline;
    /* 使列表项同级排列 */
    margin-right: 10px;
    /* 列表项间距 */
}

.social-links a {
    text-decoration: none;
    /* 移除链接的下划线 */
    color: #007bff;
    /* 链接颜色 */
}

.social-links a:hover {
    text-decoration: underline;
    /* 鼠标悬浮时链接下划线 */
}

.sidebar h3 {
    margin-bottom: 10px;
}

.latest-posts,
.about-author {
    margin-bottom: 30px;
}

.sidebar h3,
.latest-posts,
.about-author,
.social-links {
    padding: 0;
    list-style-type: none;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links a {
    text-decoration: none;
    color: #333;
}

/* 尾部样式 */
.site-footer {
    text-align: center;
    padding: 20px 0;
    background-color: #282828;
    color: #fff;
}

/* 响应式设计 */
@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .main-content>* {
        width: 100%;
        margin: 10px 0;
    }
}